<div class="device-item-root noselect">
    <div [ngSwitch]="type">
        <mat-icon *ngSwitchCase="deviceType.SOCKET" class="g-mat-icon-large header-more-icon" aria-hidden="false">power</mat-icon>
        <mat-icon *ngSwitchCase="deviceType.DIODE" class="g-mat-icon-large header-more-icon" aria-hidden="false">wb_incandescent</mat-icon>
        <mat-icon *ngSwitchCase="deviceType.LED" class="g-mat-icon-large header-more-icon" aria-hidden="false">emoji_objects</mat-icon>
        <mat-icon *ngSwitchDefault class="g-mat-icon-large header-more-icon" aria-hidden="false">router</mat-icon>
    </div>
    <span style=" white-space: nowrap;">
        {{(label ? label : type | deviceType) + " "}}{{count && count !== 0 ? "(" + count + ")" : ""}}
    </span>
</div>