<div class="device-category-root">
    <mat-card class="device-category-root-card">
        <div class="device-category-head">
            <span class="mat-title">Categories</span>
            <mat-icon class="g-mat-icon-middle" aria-hidden="false" (click)="onAddButtonClick()">add_circle_outline</mat-icon>
        </div>
        <div class="device-category-content">
            <div class="device-category-content-item" *ngFor="let a of deviceCategories">
                <app-device-item [type]="a.type" [count]="a.count"></app-device-item>
            </div>
        </div>
    </mat-card>
</div>
