.field {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.field-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-right: 4px;
    padding: 10px;
}

.field-error {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e91224;
}

.field-input {
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #007ad9;
}

.button {
    font-size: x-large;
    color: #ffffff;
    border-radius: 10px;
    padding:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-submit {
    background-color: #007ad9;
}

.button-disconnect {
    background-color: #e91224;
}

.block {
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#access-point-form {

}

#workstation-form {

}