
<div class="main-test">
    <span class="mat-display-4">Lorem Ipsum is simply dummy text</span>
    <span class="mat-display-3">Lorem Ipsum is simply dummy text</span>
    <span class="mat-display-2">Lorem Ipsum is simply dummy text</span>
    <span class="mat-display-1">Lorem Ipsum is simply dummy text</span>
    <span class="mat-headline">Lorem Ipsum is simply dummy text</span>
    <span class="mat-title">Lorem Ipsum is simply dummy text</span>
    <span class="mat-subheading-2">Lorem Ipsum is simply dummy text</span>
    <span class="mat-subheading-1">Lorem Ipsum is simply dummy text</span>
    <span class="mat-body-1">Lorem Ipsum is simply dummy text</span>
    <span class="mat-body-strong">Lorem Ipsum is simply dummy text</span>
    <span class="mat-caption">Lorem Ipsum is simply dummy text</span>
    <button mat-raised-button color="primary">Primary</button>
</div>