<div class="main-test">
    <span class="mat-display-4">mat-display-4</span>
    <span class="mat-display-3">mat-display-3</span>
    <span class="mat-display-2">mat-display-2</span>
    <span class="mat-display-1">mat-display-1</span>
    <span class="mat-headline">mat-headline</span>
    <span class="mat-title">mat-title</span>
    <span class="mat-subheading-2">mat-subheading-2</span>
    <span class="mat-subheading-1">mat-subheading-1</span>
    <span class="mat-body-1">mat-body-1</span>
    <span class="mat-body-strong">mat-body-strong</span>
    <span class="mat-caption">mat-caption</span>
    <button mat-raised-button color="primary">Primary</button>
    <div class="row-test">
        <app-device-item type="0" label="socket"></app-device-item>
        <app-device-item type="1" label="Led"></app-device-item>
        <app-device-item type="2" label="Light"></app-device-item>
        <app-device-item type="3" label="device"></app-device-item>
    </div>


</div>