$mat-icon-small: 24px;
$mat-icon-medium: 32px;
$mat-icon-large: 48px;

$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;

$screen-size-small: 600px;
$screen-size-medium: 1024px;